.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    // background: rgb(65, 100, 139);

    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin-right: 70px;

        .link {
            color: rgb(65, 100, 139);
            margin: 0px 10px;
            padding: 10px;
            font-size: 1.3em;
            position: relative;
            transition: 0.3s ease-in;

            &:hover::before {
                box-shadow: black 0px -8px 0.5px;
                
              }
              &:hover::after {
                opacity: 0;
              }
        }

        .link:nth-child(1)::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 55px;
            background: rgb(65, 100, 139);
            transform: 0.3s ease-in;

            &:hover {
                box-shadow: black 0px -8px 0.5px;
            }
        }

        .link:nth-child(1)::after {
            content: '';
          position: absolute;
          height: 2px;
          width: 55px;
          background: $primary-color;
          left: 15%;
          bottom: 13%;
      }
    }

    .fas {
        position: absolute;
        left: 40px;
        top: 40px;
        font-size: 1.7em;
        color: $primary-color;
    }
}