.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    // background: rgb(65, 100, 139);

    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin-right: 70px;

        .link {
            color: rgb(65, 100, 139);
            margin: 0px 15px;
            font-size: 1.3em;
        }
    }
}