@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&family=Fjalla+One&family=Hammersmith+One&family=Khula&family=Mitr:wght@300&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans&family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Monda&family=Nanum+Myeongjo:wght@700&family=Noticia+Text&family=Noto+Sans+TC&display=swap');
@import 'content';
@import 'nav';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monda;
}


header {
    height: 100vh;
    width: 100%;
    position: relative;

    .video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        // background-position: top;
        background-size: cover;
        z-index: -2;

        .videobg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            // background-position: top;
            object-fit: cover;
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        z-index: 2;

        .statement {
            margin-left: 30px;
            font-family: Bungee;
            font-size: 3em;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: white;
            -webkit-text-stroke-width: 0.5px;
            color: white;
        }

            .name {
                padding-left: 100px;
                font-family: Bungee;
                font-size: 2.6em;
                color: rgb(98, 125, 161);
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: rgb(77, 112, 144);
                -webkit-text-stroke-width: 0.5px;
            }

            .title {
                padding-left: 300px;
                font-family: Bungee;
                font-size: 2.2em;
                color: rgb(77, 112, 144);
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: rgb(98, 125, 161);
                -webkit-text-stroke-width: 0.5px;
            }
    }
}