@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&family=Fjalla+One&family=Hammersmith+One&family=Khula&family=Mitr:wght@300&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Monda&family=Nanum+Myeongjo:wght@700&family=Noticia+Text&family=Noto+Sans+TC&display=swap");
main {
  height: 100vh;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
}

.nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 100%;
  margin-right: 70px;
}

.nav .links .link {
  color: #41648b;
  margin: 0px 10px;
  padding: 10px;
  font-size: 1.3em;
  position: relative;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.nav .links .link:hover::before {
  -webkit-box-shadow: black 0px -8px 0.5px;
          box-shadow: black 0px -8px 0.5px;
}

.nav .links .link:hover::after {
  opacity: 0;
}

.nav .links .link:nth-child(1)::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 55px;
  background: #41648b;
  -webkit-transform: 0.3s ease-in;
          transform: 0.3s ease-in;
}

.nav .links .link:nth-child(1)::before:hover {
  -webkit-box-shadow: black 0px -8px 0.5px;
          box-shadow: black 0px -8px 0.5px;
}

.nav .links .link:nth-child(1)::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 55px;
  background: #41648b;
  left: 15%;
  bottom: 13%;
}

.nav .fas {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 1.7em;
  color: #41648b;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Monda;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

header .svg {
  position: absolute;
}

header .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

header .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  color: white;
}

header .introduction .name {
  color: #41648b;
  font-size: 3.5em;
  font-weight: 600;
  padding-left: 10px;
  text-align: right;
  text-shadow: grey 2px 2px 2px;
}

header .introduction .title {
  font-size: 2.3em;
  padding: 10px;
  color: white;
  background: #41648b;
  font-weight: 400;
}

header .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
}
/*# sourceMappingURL=main.css.map */