@import 'variables';


header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        padding-left: 100px;
        flex: 1 1 600px;
        color: white;

        .name {
            color: white;
            font-size: 4rem;
            font-weight: 600;
            text-shadow: grey 2px 2px 2px;
        }

        .title {
            font-size: 2.7rem;
            color: $primary-color;
            font-weight: 400;
            padding-bottom: 15px;
            padding-left: 5px;
        }

        .info-paragraph {
            width: 65%;
            color: black;
            line-height: 25px;
            font-size: 1.1rem;
        }
    }

    .img-background-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 300px;      
        
        
        .background {
            position: absolute;
            right: 50px;
            background-repeat: no-repeat;
            object-fit: cover;
            z-index: -1;
        }
    }
}

//about section css 

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-left: 100px;

    .about-heading {
        color: white;
        font-size: 4.5rem;
        font-weight: 600;
        text-align: right;
        text-shadow: grey 2px 2px 2px;
    }

    .info-about {
        width:  60%;
        font-size: 1.3rem;
    }
}

.introduction-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .words {
        display: flex;
        flex: 1 1 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        background: $primary-color;

        .word {
            font-size: 3rem;
            color: white;
            text-transform: uppercase;
            padding: 5px;
            font-weight: 100;
        }

        span {
            border-bottom: 2px solid white;
        }
    }

    .education-container {
        display: flex;
        flex: 1 1 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;

        .education {
            height: 200px;
            width: 450px;
            background: white;
            box-shadow: grey 2px 2px 2px 2px;
            padding: 60px;
            margin-top: 15px;

            .school {
                font-size: 1.5rem;
                color: $primary-color;
                border-bottom: 2px solid grey;
                margin-bottom: 5px;
            }
        }
    }

    .certifications-container {
        padding-top: 50px;
        width: 100%;

        .certifications {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 100px;
        }

        .certs {
            color: $primary-color;
            font-size: 2rem;
            font-weight: 100;
        }
    }
}

//projects 

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-left: 100px;

    .project-heading {
        color: white;
        font-size: 4.5rem;
        font-weight: 600;
        text-align: right;
        text-shadow: grey 2px 2px 2px;
    }

    .info-project {
        width:  60%;
        font-size: 1.3rem;
        // color: $primary-color;
    }

}

.main-project{
    width: 100%;

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 500px;
        height: 400px;
        background: $primary-color;

        .titled-project {
            font-size: 3rem;
            color: white;
            text-transform: uppercase;
            padding: 5px;
            font-weight: 100;
            border-bottom: 2px solid rgb(19, 19, 19);
        }

        .network-used {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            h3 {
                padding: 10px;
                margin: 10px;
                border: solid white 2px;
            }
        }
    }

    .project-description-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 700px;
       
        .project-description {
            width: 80%;
            padding: 30px;
            font-size: 1.2rem;
        }
    }
}

.project-two {
        
    .project-info {
        background: transparent;
        color: $primary-color;
        height: 200px;

        .titled-project {
            color: $primary-color;
        
        }
    }
}

//contact 

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    .contact-introduction {
        display: flex;
        flex-direction: column;
        flex: 1 1 500px;
        padding-left: 100px;

        .contact-title {
            color: white;
            font-size: 5.5rem;
            font-weight: 600;
            text-shadow: grey 2px 2px 2px;
        }

        .contact-saying {
            font-size: 2.7rem;
            color: $primary-color;
            font-weight: 400;
        }

        .contact-info {
            width: 80%;
            line-height: 25px;
            font-size: 1.1rem;
        }

        .fab {
            color: $primary-color;
            margin-top: 15px;
            font-size: 30px;
            transition: ease 0.3s ;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }

    .contact-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 300px;

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 50px;

            .input {
                width: 400px;
                height: 40px;
                border: 1px solid $primary-color;
            }

            input[type='email'] {
                margin: 12px 0px;
            }

            ::placeholder {
                padding-left: 10px;
                font-size: 1.2rem;
            }

            .message {
                width: 400px;
                height: 175px;
                resize: vertical;
                border: none;
                border: 1px solid $primary-color;
            }

            .btn {
                width: 100px;
                height: 40px;
                background: $primary-color;
                border: none;
                outline: none;
                color: white;
                margin-top: 12px;
                font-size: 1rem;
                text-transform: uppercase;
                position: relative;
                cursor: pointer;
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 40px;
                    width: 0;
                    transform-origin: left;
                    transition: ease 0.4s;
                    z-index: -1;
                }

                
                &:hover::before {
                    background: darken($color: $primary-color, $amount: 10px);
                    width: 100%;
                }
            }
        }
    }
}