header {
  height: 100vh;
  width: 100%;
  position: relative;
}

header .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

header .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-left: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  color: white;
}

@media (min-width: 0px) and (max-width: 480px) {
  header .introduction {
    padding-left: 50px;
  }
}

header .introduction .name {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: grey 2px 2px 2px;
}

@media (min-width: 0px) and (max-width: 480px) {
  header .introduction .name {
    font-size: 3rem;
  }
}

@media (max-width: 320px) {
  header .introduction .name {
    font-size: 2.2rem;
  }
}

header .introduction .title {
  font-size: 2.7rem;
  color: #4C49EC;
  font-weight: 400;
  padding-bottom: 15px;
  padding-left: 5px;
}

@media (min-width: 0px) and (max-width: 480px) {
  header .introduction .title {
    font-size: 2.2rem;
  }
}

@media (max-width: 320px) {
  header .introduction .title {
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
}

header .introduction .info-paragraph {
  width: 65%;
  color: black;
  line-height: 25px;
  font-size: 1.1rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  header .introduction .info-paragraph {
    width: 80%;
  }
}

@media (max-width: 320px) {
  header .introduction .info-paragraph {
    font-size: 0.9rem;
    line-height: 20px;
  }
}

header .img-background-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

header .img-background-container .background {
  position: absolute;
  right: 50px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@media (min-width: 0px) and (max-width: 480px) {
  header .img-background-container .background {
    right: 0;
  }
}

.about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  padding-left: 100px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .about-title {
    padding-left: 50px;
  }
}

.about-title .about-heading {
  color: white;
  font-size: 4.5rem;
  font-weight: 600;
  text-align: right;
  text-shadow: grey 2px 2px 2px;
  padding-bottom: 10px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .about-title .about-heading {
    font-size: 3rem;
  }
}

@media (max-width: 320px) {
  .about-title .about-heading {
    font-size: 2.2rem;
  }
}

.about-title .info-about {
  width: 60%;
  font-size: 1.3rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  .about-title .info-about {
    width: 90%;
    font-size: 1.2rem;
  }
}

.introduction-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.introduction-about .certs:nth-child(2) {
  margin-top: 15px;
}

.introduction-about .certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 500px;
  background: #4C49EC;
}

@media (min-width: 0px) and (max-width: 480px) {
  .introduction-about .certifications {
    padding: 10px;
  }
}

.introduction-about .certifications .certs-heading {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  font-weight: 600;
  border-bottom: solid 1px black;
}

.introduction-about .certifications .certs {
  padding: 5px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .introduction-about .certifications .certs {
    font-size: 1.3rem;
  }
}

.introduction-about .certifications span {
  border-bottom: 2px solid white;
}

.introduction-about .education-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction-about .education-container .education {
  height: 200px;
  padding: 60px;
  margin-top: 15px;
}

.introduction-about .education-container .education .school {
  font-size: 1.5rem;
  color: #4C49EC;
  border-bottom: 2px solid grey;
  margin-bottom: 5px;
}

.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  padding-left: 100px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .project-title {
    font-size: 2rem;
    padding-left: 50px;
  }
}

.project-title .project-heading {
  color: white;
  font-size: 4.5rem;
  font-weight: 600;
  text-align: right;
  text-shadow: grey 2px 2px 2px;
  padding-bottom: 10px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .project-title .project-heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 320px) {
  .project-title .project-heading {
    font-size: 2rem;
  }
}

.project-title .info-project {
  width: 60%;
  font-size: 1.3rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  .project-title .info-project {
    font-size: 1.2rem;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .project-title .info-project {
    font-size: 1rem;
    width: 90%;
  }
}

.main-project {
  width: 100%;
}

.main-project .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  height: 400px;
  background: #4C49EC;
}

.main-project .project-info .titled-project {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  font-weight: 100;
  border-bottom: 2px solid #131313;
}

.main-project .project-info .network-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project .project-info .network-used h3 {
  padding: 10px;
  margin: 10px;
  border: solid white 2px;
}

.main-project .project-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700px;
          flex: 1 1 700px;
}

.main-project .project-description-container .project-description {
  width: 80%;
  padding: 30px;
  font-size: 1.2rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  .main-project .project-description-container .project-description {
    font-size: 1rem;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .main-project .project-description-container .project-description {
    font-size: 0.9rem;
    width: 90%;
  }
}

.project-two .project-info {
  background: transparent;
  color: #4C49EC;
  height: 200px;
}

.project-two .project-info .titled-project {
  color: #4C49EC;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 100px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .contact-container {
    padding-left: 50px;
  }
}

.contact-container .contact-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

@media (max-width: 1000px) {
  .contact-container .contact-introduction {
    margin-top: 150px;
  }
}

.contact-container .contact-introduction .contact-title {
  color: white;
  font-size: 5.5rem;
  font-weight: 600;
  text-shadow: grey 2px 2px 2px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .contact-container .contact-introduction .contact-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 320px) {
  .contact-container .contact-introduction .contact-title {
    font-size: 2.2rem;
  }
}

.contact-container .contact-introduction .contact-saying {
  font-size: 2.7rem;
  color: #4C49EC;
  font-weight: 400;
}

@media (min-width: 0px) and (max-width: 480px) {
  .contact-container .contact-introduction .contact-saying {
    font-size: 1.7rem;
  }
}

@media (max-width: 320px) {
  .contact-container .contact-introduction .contact-saying {
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
}

.contact-container .contact-introduction .contact-info {
  width: 80%;
  line-height: 25px;
  font-size: 1.1rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  .contact-container .contact-introduction .contact-info {
    width: 90%;
    font-size: 1rem;
  }
}

.contact-container .contact-introduction .fab {
  color: #4C49EC;
  margin-top: 15px;
  font-size: 30px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.contact-container .contact-introduction .fab:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.contact-container .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

@media (max-width: 1000px) {
  .contact-container .contact-form-container {
    padding-bottom: 50px;
  }
}

.contact-container .contact-form-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
  width: 85%;
}

.contact-container .contact-form-container .form .input {
  width: 100%;
  height: 40px;
  border: 1px solid #4C49EC;
}

.contact-container .contact-form-container .form input[type='email'] {
  margin: 12px 0px;
}

.contact-container .contact-form-container .form ::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 1.2rem;
}

.contact-container .contact-form-container .form :-ms-input-placeholder {
  padding-left: 10px;
  font-size: 1.2rem;
}

.contact-container .contact-form-container .form ::-ms-input-placeholder {
  padding-left: 10px;
  font-size: 1.2rem;
}

.contact-container .contact-form-container .form ::placeholder {
  padding-left: 10px;
  font-size: 1.2rem;
}

.contact-container .contact-form-container .form .message {
  width: 100%;
  height: 175px;
  resize: vertical;
  border: none;
  border: 1px solid #4C49EC;
}

.contact-container .contact-form-container .form .btn {
  width: 100px;
  height: 40px;
  background: #4C49EC;
  border: none;
  outline: none;
  color: white;
  margin-top: 12px;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.contact-container .contact-form-container .form .btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  z-index: -1;
}

.contact-container .contact-form-container .form .btn:hover::before {
  background: #1f1be7;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */